.root_CEO {
  position: relative;
  height: 700px;
  width: 100%;

  &:before {
    content: "";
    position: absolute;
    background-size: cover;
    height: 700px;
    background-position: center;
    filter: brightness(40%);
    width: 100%;
    background-image: url("../../assets/ceo/background.webp");
  }

  @media (max-width: 359px) {
    height: 400px;

    &:before {
      height: 400px;
    }
  }
}

.container_CEO {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 80px;
  justify-content: center;

  @media (max-width: 359px) {
    padding: 20px 20px 0;
  }
}

.box_CEO {
  width: 100%;
  margin: 0 auto;
  max-width: 1320px;
  display: flex;
  flex-direction: column;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    background-position: center;
    background-image: url("../../assets/ceo/ceo.webp");
    background-repeat: no-repeat;
    background-position: bottom 0.5px right 20px;
    width: 100%;
    height: 100%;
    right: -250px;
    top: 0px;
  }

  @media (max-width: 359px) {
    &:before {
      background-position:right;
      background-size: cover;
      width: 300px;
      height: 200px;
      top: 180px;
      left: 0;
    }
  }
}

.column_title_box_CEO {
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 0;

  @media (max-width: 359px) {
    font-size: 16px;
  }
}

.sub-title_box_CEO {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #fff;

  @media (max-width: 359px) {
    font-size: 16px;
  }
}

.column_info_subTitle_CEO_box_CEO {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: right;
  color: #ffffff;
  opacity: 0.5;

  @media (max-width: 359px) {
    font-size: 12px;
  }
}

.column_info_title_CEO_box_CEO {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  text-align: right;
  color: #ffffff;
  margin: 0;

  @media (max-width: 359px) {
    font-size: 18px;
  }
}

.row_box_CEO {
  display: flex;
  max-width: 700px;
  justify-content: space-between;
  align-items: end;
}

.description_box_CEO {
  margin-top: 30px;
  display: flex;
  max-width: 700px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 200px;
    background-image: url("../../assets/ceo/signature.webp");
    right: -30px;
    top: 20px;
  }

  @media (max-width: 359px) {
    margin-top: 10px;

    &:before {
      right: 0;
      left: -20px;
      top: 40px;
      height: 150px;
      width: 150px;
    }
  }
}

.description_text_box_CEO {
  color: #ffffff;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  padding-bottom: 55px;
  padding-top: 30px;
  border-top: 1px solid #efefef;

  @media (max-width: 359px) {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
