.root_Services {
  display: flex;
  width: 100%;
}

.container_Services {
  width: 1320px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.subTitle_Services {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ebc181;
}

.title_Services {
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 40px;
  margin-top: 24px;
  text-transform: uppercase;
}

.list_Services {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list_item1_Services,
.list_item2_Services,
.list_item3_Services,
.list_item4_Services,
.list_item5_Services,
.list_item6_Services {
  position: relative;
  min-height: 205px;
  width: 416px;
  border-radius: 20px;
}

.list_item1_Services {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    filter: brightness(55%);
    background: url("../../assets/services/4_services.webp") no-repeat;
    background-position: 0;
    background-size: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    border-radius: 20px;
  }
}

.list_item2_Services {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    filter: brightness(55%);
    background: url("../../assets/services/3_services.webp") no-repeat;
    background-position: 0;
    background-size: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    border-radius: 20px;
  }
}

.list_item3_Services {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    filter: brightness(55%);
    background: url("../../assets/services/2_services.webp") no-repeat;
    background-position: 0;
    background-size: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    border-radius: 20px;
  }
}

.list_item4_Services {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    filter: brightness(55%);
    background: url("../../assets/services/1_services.webp") no-repeat;
    background-position: 0;
    background-size: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    border-radius: 20px;
  }
}

.list_item5_Services {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    filter: brightness(55%);
    background: url("../../assets/services/5_services.webp") no-repeat;
    background-position: 0;
    background-size: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    border-radius: 20px;
  }
}

.list_item6_Services {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    filter: brightness(55%);
    background: url("../../assets/services/6_services.webp") no-repeat;
    background-position: 0;
    background-size: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    border-radius: 20px;
  }
}

.list_item1_Services:hover:before {
  background-position: center;
  filter: brightness(85%);
}

.list_item2_Services:hover:before {
  background-position: center;
  filter: brightness(85%);
}

.list_item3_Services:hover:before {
  background-position: top 10px;
  filter: brightness(85%);
}

.list_item4_Services:hover:before {
  background-position: center;
  filter: brightness(85%);
}

.list_item5_Services:hover:before {
  background-position: center;
  filter: brightness(85%);
}

.list_item6_Services:hover:before {
  background-position: top;
  filter: brightness(85%);
}

.list_title_Services {
  color: #ffffff;
  display: flex;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 20px;
  margin-left: 30px;
  margin-top: auto;
  position: relative;
  text-transform: uppercase;
  z-index: 5;
  height: 100%;
  align-items: end;
}

@media screen and (max-width: 1467px) {
  .container_Services {
    padding-top: 60px;
    width: 968px;
  }

  .list_item1_Services,
  .list_item2_Services,
  .list_item3_Services,
  .list_item4_Services,
  .list_item5_Services,
  .list_item6_Services {
    min-height: 205px;
    width: 48.5%;
  }
}

@media screen and (max-width: 1023px) {
  .container_Services {
    width: 728px;
  }

  .list_item1_Services,
  .list_item2_Services,
  .list_item3_Services,
  .list_item4_Services,
  .list_item5_Services,
  .list_item6_Services {
    min-height: 400px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .container_Services {
    width: 600px;
  }
}

@media screen and (max-width: 639px) {
  .container_Services {
    padding: 20px 20px 40px;
    width: 100%;
  }

  .subTitle_Services {
    font-size: 20px;
  }

  .title_Services {
    font-size: 26px;
    margin-top: 12px;
    margin-bottom: 20px;
  }

  .list_item1_Services,
  .list_item2_Services,
  .list_item3_Services,
  .list_item4_Services,
  .list_item5_Services,
  .list_item6_Services {
    width: 100%;
    min-height: 250px;
  }

  .list_title_Services {
    margin: 0;
    font-size: 22px;
    padding: 15px;
  }
}

@media screen and (max-width: 479px) {
  .list_item1_Services,
  .list_item2_Services,
  .list_item3_Services,
  .list_item4_Services,
  .list_item5_Services,
  .list_item6_Services {
    width: 100%;
    min-height: 150px;
  }

  .subTitle_Services {
    font-size: 16px;
  }

  .title_Services {
    font-size: 22px;
  }
}

@media screen and (max-width: 359px) {
}
