.list_SocialNetworks {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}

.element_SocialNetworks {
   
}

.link_SocialNetworks {

}

.img_SocialNetworks {
    width: 28px;
    height: 28px;
}