.root_Team {
  display: flex;
  width: 100%;
  background-color: #f4f4f4;
}

.container_Team {
  display: flex;
  flex-direction: column;
  max-width: 1320px;
  width: 100%;
  padding: 50px 0 65px;
  margin: 0 auto;
}

.first_box_subTitle_Team {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ebc181;
}

.first_box_Title_Team {
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 40px;
}

.first_box_img_Team {
  height: 650px;
}

.first_box_Team {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.video_team {
  width: 100%;
  height: 350px;
}

@media screen and (max-width: 479px) {
  .container_Team {
    padding: 20px;
  }

  .first_box_subTitle_Team {
    font-size: 16px;
  }

  .first_box_Title_Team {
    font-size: 22px;
    margin-top: 14px;
    margin-bottom: 20px;
  }

  .first_box_img_Team {
    height: 215px;
  }

  .video_team {
    height: 150px;
  }
}

@media screen and (max-width: 359px) {
  /* .container_Team {
    padding: 20px;
  }

  .first_box_subTitle_Team {
    font-size: 16px;
  }

  .first_box_Title_Team {
    font-size: 22px;
    margin-top: 14px;
    margin-bottom: 20px;
  }

  .first_box_img_Team {
    height: 215px;
  }

  .video_team {
    height: 150px;
  } */
}
